.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 6.5rem;
}

.box{
  padding:1em;
}
.balance{
  text-align:center;
}
.notes{
  text-align: center;
}
.Buttons {
  display: flex;
  padding: 3rem;
  justify-content: space-around;
}

.Buttons > button {
  font-size: 1.5rem;
  margin: 2rem;
  width: 10rem;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.Form > button {
  font-size: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
